body {
    font-family: 'Montserrat', sans-serif  !important;
}

.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}


#modcraft .dataTables_length , #modcraft .dt-buttons{
 display: none !important;
}

.app-body ,.login-page{
    background-color: #2f353a;
}

.app-body .content{
    color: white;
}

.btn-edit{
    width: 100%;
    margin-right: 10px;
}

.btn-delete-form{
    width: 100%;

}
.btn-delete-form .btn-danger {
    width: 100%;
}

.app-btn-edit{
    width: 100%;
    margin-right: 10px;
}

.app-btn-delete-form{
    width: 100%;
}

.app-btn-delete-form .btn-danger {
    width: 100%;
}

.login-page .card{
    background-color: #2f353a;
}

.login-page .card h1, .login-page .card p ,.login-page .card label{
    color: white !important;
}


 .app-body .card-header{
    background-color: #2f353a;
    color: white;
}
.app-body .card h1,  .app-body .card th, .app-body .card td {
    color: #fff !important;
    font-size: .875rem;
}

.app-header{
    background-color: #2f353a;
}

.navbar-brand{
    color: white;
}

/* table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before{

    border: 1px solid #fff;
} */

table.dataTable tbody tr {
    background-color: #2f353a !important;
}

html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .app-footer, html:not([dir=rtl]) .sidebar-show.sidebar-fixed .main {
    margin-left: 260px;
}
.sidebar-fixed .sidebar {
    width: 260px;
}
.sidebar .sidebar-nav {
    width: 260px;
}
.sidebar .nav {
    width: 260px;
}
/* .table-custom-main .card-body {
    background-color: #fff;
}
.table-custom-main .dataTables_scrollBody {
     background-color: #fff;
} */
/* .table-custom-main table.dataTable tbody tr {
    background-color: #ffff !important;
} */
 .app-body .table-custom-main  .card th, .app-body .table-custom-main  .card td {
    color: #2f353a !important;
}

.app-btn-edit {
    margin-bottom: 10px;
}
.btn-group-xs > .btn, .btn-xs {
    padding: 5px 5px;
}


.card-body.card-body-common  ,.card {
    background-color: transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 
}
.select2-container .select2-selection--single {
    height: 45px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: transparent !important;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 45px;
}
.btn-group-xs > .btn, .btn-xs {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #fff;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 30px;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
}
table.dataTable tbody td.select-checkbox:before, table.dataTable tbody th.select-checkbox:before {
    content: ' ';
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid #fff;
    border-radius: 3px;
    top: 50%;
    transform: translate(0, -50%);
}
.navbar-brand span.navbar-brand-full {
    font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translate(0, -50%);
}
.btn-select {
    padding: 10px 30px !important;
    font-weight: 600;
    font-size: 14px;
}
 .app-body .card label , .app-body .card p{
     color: #fff;
     font-size: .875rem;
 }
 .select2-container--default .select2-selection--single .select2-selection__rendered {
     color: #fff;
 }
 .select2-container--default .select2-selection--single {
     background-color: transparent;
 }

 .title-main{
    font-weight: 600;
    margin: 0;
 }

 .form-control{
     color: #fff;
 }

 html:not([dir=rtl]) .sidebar {
    margin-left: -260px;
}
.navbar-toggler {
    background-color: #63c2de;
}
table.dataTable tr.selected td.select-checkbox:after, table.dataTable tr.selected th.select-checkbox:after {
    top: 50%;
    transform: translate(0, -50%);
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #fff 1px;
    outline: 0;
    background: transparent;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
}

.app-header .navbar-brand {
    width: 260px;
}
.select2-container--default .select2-selection--multiple {
    background-color: transparent;
    border: 1px solid #fff;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
   
    text-align: center;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
   
    text-align: center;
}
